/* .edit-status {
    margin-bottom: 3rem;
  }
   */
  .edit-input{
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 300px;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    margin: .3rem;
    outline:none;
    color: rgb(0, 75, 105);
    font-size: 20px;
  }
  .edit-image{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: ;
  }