.dashboard {
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(2, 110, 211, 0.3));
  border-radius: 2rem 0 0 2rem;
  
}

.link {
  display: flex;
  margin: 1rem 0rem;
  padding: .5rem 0rem;
  align-items: center;
}

.link h2 {
  padding: 0rem 2rem;
}


.pro {
  background: linear-gradient(to right top, #4e615d67, #6cdaeb7a);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.pro img {
  position: absolute;
  top: -1%;
  right: 3%;
  opacity: 1;
  width: 100px;
  left: 115px;
}

.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

.react-logo {
  width: 100px;
  position: absolute;
  top: -17px;
}
.user{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.user-avatar {
  width: 100px;
  margin-top: 5px;
}

.images-edit {
  width: 100px;
  position: relative;
  top: -102px;
  transition: 1s;
  opacity: 0;
}
.images-edit:hover{
  opacity: 1;
}
.dash-link {
  text-decoration: none;
  transition: .5;
}

.dash-links:hover {
  color: rgb(101, 173, 255);
}

.add-images {
  width: 50px;
}




.wrapper {
  perspective: 2000px;
  position: relative;
  background-color: rgba(0, 105, 119, 0.363);
}

.front {}

.back {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.front {
  animation: front-rotation 15s infinite;
}

.back {
  animation: back-rotation 15s infinite;
}

@keyframes front-rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes back-rotation {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(540deg);
  }
}