.dashboard {
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: #8FCE19;
  background: -moz-linear-gradient(-45deg, #8FCE19 0%, #4FA8C2 21%, #115919 100%);
  background: -webkit-linear-gradient(-45deg, #8FCE19 0%, #4FA8C2 21%, #115919 100%);
  background: linear-gradient(135deg, #8FCE19 0%, #4FA8C2 21%, #115919 100%);
  border-radius: 2rem 0 0 2rem;
  
}

.link {
  display: flex;
  margin: 1rem 0rem;
  padding: .5rem 0rem;
  align-items: center;
}

.link h2 {
  padding: 0rem 2rem;
}


.pro {
  background: linear-gradient(to right top, #4e615d67, #6cdaeb7a);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.pro img {
  position: absolute;
  top: -1%;
  right: 3%;
  opacity: 1;
  width: 100px;
  left: 115px;
}

.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

.react-logo {
  width: 100px;
  position: absolute;
  top: -17px;
}
.user{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: center;
  
  
}
.user-avatar {
  width: 100px;
  margin-top: 5px;
}

.images-edit {
  width: 100px;
  position: relative;
  top: -102px;
  transition: 1s;
  opacity: 0;
}
.images-edit:hover{
  opacity: 1;
}
.dash-link {
  text-decoration: none;
  transition: .5;
  color: rgba(255, 255, 255, 0.95);
}

.dash-links:hover {
  color: rgba(187, 187, 187, 0.95);
}

.add-images {
  width: 50px;
}

.wrapper {
  perspective: 2000px;
  position: relative;
  background-color: rgba(0, 225, 255, 0.363);
}

.back {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.front {
  animation: front-rotation 15s infinite;
}

.back {
  animation: back-rotation 15s infinite;
}

@keyframes front-rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes back-rotation {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(540deg);
  }
}
.dashboard-font-icons {
display: flex;
flex-flow: row nowrap;
position: absolute;
top: 33px;
left: 15px;
}

.dashboard-icons:before{
  font-size: 17px;
  color: rgb(0, 3, 185);
  opacity: .6;
  cursor: pointer;
  padding: 5px;
}
.dashboard-icons:hover{
  color: rgb(0, 3, 209);
  opacity: .6;
}
