
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    font-family: "Roboto", sans-serif;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #8FCE19;
    background: -moz-linear-gradient(-45deg, #8FCE19 0%, #4FA8C2 21%, #115919 100%);
    background: -webkit-linear-gradient(-45deg, #8FCE19 0%, #4FA8C2 21%, #115919 100%);
    background: linear-gradient(135deg, #8FCE19 0%, #4FA8C2 21%, #115919 100%);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 9px #404040; 
    box-shadow: 5px 5px 15px 9px #404040;
    border-radius: 2rem;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form .btn-auth {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #002fff63;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 2rem;
  }
  .form .btn-auth:hover,.form .btn-auth:active,.form .btn-auth:focus {
    
    background: #002fff3f;
    font-size: 14px;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #3a61a8;
    text-decoration: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }

                                                          /*PROFILE*/
  footer{
    background-color: #fff;
    width: 100%;
    height: 60px;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .circle{
    background-color: #76b852;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  #loginLetter{
    position: relative;
    font-weight: bold;
    font-size: 25px;
  }
  
  .animateInput::placeholder {
    transition: 0.5s;
    color: #aaa;
  }
  .animateInput:focus::placeholder { 
    font-size: 10px;
    transform: translateY(-16px);
  }
  .iconUser{
    padding-right: 5px;
  }
  #profileInfo{
      margin-top: 2%;
      justify-content: flex-end;
      /* display: none;  */
  }
  .formColumn{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 10px;
  }
  #formFlex{
   background: #f2f2f2;
   width: 277px;
   padding: 30px;
  border-radius: 5px;
  }
  #cancel{
    align-self: flex-start;
    margin-right: 1%;
    color: #76b852;
    position: relative;
    right: 37px;
    top: 16px;
    z-index: 10;
    cursor: pointer;
  }
  #crateAccount{
    cursor: pointer;
  }
#register{
    text-decoration: none;
    color: royalblue;
    font-size: 14px;
  }
#register:hover { 
    text-decoration: none; 
    color: rgba(78, 188, 247, 0.934);
   } 

   #_register{
    text-decoration: none;
    color: royalblue;
    font-size: 14px;
  }
#_register:hover { 
    text-decoration: none; 
    color: rgba(78, 188, 247, 0.934);
   } 

   .animateInput{
     border-radius: 2rem;
   }